{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="col-sm-9">
        <div id="tv-screen" class="frame-btn">
            <span id="cal-status" class="label label-default">Not Connected</span>
            <canvas id="frame-canvas" width="640" height="480" class="frame img-responsive img-rounded">
            </canvas>
        </div>
        <div class="btn-group">
            <button id="btn-play" type="button" class="btn btn-lg btn-default disabled">Play</button>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-xs-3"> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left sideways ">
                <li class="active"><a href="#dune-r" data-toggle="tab">Dune HD</a></li>
                <li><a href="#humax-r" data-toggle="tab">Humax</a></li>
                <li><a href="#gefen-r" data-toggle="tab">Gefen</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="dune-r">
                    <img height="480" usemap="#dune" class="img-rounded"
                         src="/static/img/rc/dune/dune_h960.png">
                    <!-- dune remote control map for fixed height=480 -->﻿
                    <map id="map-dune" name="dune">
                        <area shape="rect" coords="5,12,32,33" href="#dune-bu-portal" title="Portal" alt="Portal">
                        <area shape="rect" coords="82,13,112,33" href="#dune-bu-power" title="Power" alt="Power">
                        <area shape="rect" coords="5,38,32,58" href="#dune-bu-a" title="A" alt="A">
                        <area shape="rect" coords="32,38,58,58" href="#dune-bu-b" title="B" alt="B">
                        <area shape="rect" coords="58,38,84,58" href="#dune-bu-c" title="C" alt="C">
                        <area shape="rect" coords="84,38,110,58" href="#dune-bu-d" title="D" alt="D">
                        <area shape="rect" coords="5,63,32,83" href="#dune-bu-zoom" title="Zoom" alt="Zoom">
                        <area shape="rect" coords="32,63,58,83" href="#dune-bu-mode" title="Mode" alt="Mode">
                        <area shape="rect" coords="58,63,84,83" href="#dune-bu-search" title="Search" alt="Search">
                        <area shape="rect" coords="84,63,110,83" href="#dune-bu-setup" title="Setup" alt="Setup">
                        <area shape="rect" coords="5,88,32,108" href="#dune-bu-stop" title="Stop" alt="Stop">
                        <area shape="rect" coords="32,88,58,108" href="#dune-bu-rec" title="Record" alt="Record">
                        <area shape="rect" coords="58,88,84,108" href="#dune-bu-rev" title="Reverse" alt="Reverse">
                        <area shape="rect" coords="84,88,110,108" href="#dune-bu-fwd" title="Forward" alt="Forward">
                        <area shape="rect" coords="6,114,33,134" href="#dune-bu-play" title="Play" alt="Play">
                        <area shape="rect" coords="33,114,59,134" href="#dune-bu-mute" title="Mute" alt="Mute">
                        <area shape="rect" coords="59,114,85,134" href="#dune-bu-rev-start" title="Reverse Start"
                              alt="Reverse Start">
                        <area shape="rect" coords="85,114,111,134" href="#dune-bu-fwd-end" title="Forward End"
                              alt="Forward End">
                        <area shape="circle" coords="14,149,12" href="#dune-bu-info" title="Info" alt="Info">
                        <area shape="circle" coords="103,149,12" href="#dune-bu-popup-menu" title="Popup Menu"
                              alt="Popup Menu">
                        <area shape="circle" coords="14,240,12" href="#dune-bu-ret" title="Ret" alt="Ret">
                        <area shape="circle" coords="103,240,12" href="#dune-bu-top-menu" title="Top Menu"
                              alt="Top Menu">
                        <area shape="circle" coords="59,194,22" href="#dune-bu-enter" title="Enter" alt="Enter">
                        <area shape="poly" coords="42,174,27,163,57,149,89,162,76,175,58,169" href="#dune-bu-up"
                              title="Up" alt="Up">
                        <area shape="poly" coords="76,176,89,163,104,195,90,226,77,213,85,194" href="#dune-bu-right"
                              title="Right" alt="Right">
                        <area shape="poly" coords="40,175,26,163,11,195,29,226,41,214,33,195" href="#dune-bu-left"
                              title="Left" alt="Left">
                        <area shape="poly" coords="42,213,30,226,58,241,88,227,75,214,58,220" href="#dune-bu-down"
                              title="Down" alt="Down">
                        <area shape="rect" coords="9,256,35,290" href="#dune-bu-vol-up" title="Volume +" alt="Volume +">
                        <area shape="rect" coords="9,290,35,324" href="#dune-bu-vol-down" title="Volume -"
                              alt="Volume -">
                        <area shape="rect" coords="81,257,108,290" href="#dune-bu-ch-up" title="Channel +"
                              alt="Channel +">
                        <area shape="rect" coords="82,290,107,324" href="#dune-bu-ch-down" title="Channel -"
                              alt="Channel -">
                        <area shape="circle" coords="58,272,13" href="#dune-bu-audio" title="Audio" alt="Audio">
                        <area shape="circle" coords="58,307,13" href="#dune-bu-subtitle" title="Subtitle"
                              title="Subtitle">
                        <area shape="rect" coords="5,334,41,353" href="#dune-bu-1" title="1" alt="1">
                        <area shape="rect" coords="40,334,75,353" href="#dune-bu-2" title="2" alt="2">
                        <area shape="rect" coords="75,334,111,353" href="#dune-bu-3" title="3" alt="3">
                        <area shape="rect" coords="5,360,41,379" href="#dune-bu-4" title="4" alt="4">
                        <area shape="rect" coords="40,360,75,379" href="#dune-bu-5" title="5" alt="5">
                        <area shape="rect" coords="75,360,111,379" href="#dune-bu-6" title="6" alt="6">
                        <area shape="rect" coords="6,385,42,404" href="#dune-bu-7" title="7" alt="7">
                        <area shape="rect" coords="41,385,76,404" href="#dune-bu-8" title="8" alt="8">
                        <area shape="rect" coords="76,385,112,404" href="#dune-bu-9" title="9" alt="9">
                        <area shape="rect" coords="6,410,42,429" href="#dune-bu-clear" title="Clear" alt="Clear">
                        <area shape="rect" coords="41,410,76,429" href="#dune-bu-0" title="0" alt="0">
                        <area shape="rect" coords="76,410,112,429" href="#dune-bu-select" title="Select" alt="Select">
                    </map>
                </div>
                <div class="tab-pane" id="humax-r">
                    <img height="480" usemap="#humax" class="img-rounded"
                         src="/static/img/rc/humax/humax_h960.png">
                    <!-- humax remote control map for fixed height=480 -->﻿
                    <map id="map-humax" name="humax">
                        <area shape="circle" coords="18,17,12" href="#humax-bu-mute" title="Mute" alt="Mute">
                        <area shape="circle" coords="100,17,12" href="#humax-bu-power" title="Power" alt="Power">

                        <area shape="circle" coords="18,46,12" href="#humax-bu-source" title="Source" alt="Source">
                        <area shape="circle" coords="46,46,12" href="#humax-bu-tv-radio" title="TV/Radio"
                              alt="TV/Radio">
                        <area shape="circle" coords="73,46,12" href="#humax-bu-wide" title="Wide" alt="Wide">
                        <area shape="circle" coords="100,46,12" href="#humax-bu-v-format" title="V/Format"
                              alt="V/Format">

                        <area shape="rect" coords="5,61,41,80" href="#humax-bu-1" title="1" alt="1">
                        <area shape="rect" coords="42,61,77,80" href="#humax-bu-2" title="2" alt="2">
                        <area shape="rect" coords="78,61,113,80" href="#humax-bu-3" title="3" alt="3">
                        <area shape="rect" coords="4,83,40,102" href="#humax-bu-4" title="4" alt="4">
                        <area shape="rect" coords="41,83,76,102" href="#humax-bu-5" title="5" alt="5">
                        <area shape="rect" coords="77,83,112,102" href="#humax-bu-6" title="6" alt="6">
                        <area shape="rect" coords="4,104,40,123" href="#humax-bu-7" title="7" alt="7">
                        <area shape="rect" coords="41,104,76,123" href="#humax-bu-8" title="8" alt="8">
                        <area shape="rect" coords="77,104,112,123" href="#humax-bu-9" title="9" alt="9">
                        <area shape="rect" coords="4,126,40,145" href="#humax-bu-tv-portal" title="TV Portal"
                              alt="TV Portal">
                        <area shape="rect" coords="41,126,76,145" href="#humax-bu-0" title="0" alt="0">
                        <area shape="rect" coords="77,126,112,145" href="#humax-bu-menu" title="Menu" alt="Menu">
                        ﻿
                        <area shape="rect" coords="4,150,32,169" href="#humax-bu-play" title="Play" alt="Play">
                        <area shape="rect" coords="33,150,58,169" href="#humax-bu-pause" title="Pause" alt="Pause">
                        <area shape="rect" coords="59,150,85,169" href="#humax-bu-stop" title="Stop" alt="Stop">
                        <area shape="rect" coords="86,150,112,169" href="#humax-bu-rec" title="Record" alt="Record">
                        <area shape="rect" coords="86,172,112,191" href="#humax-bu-fwd-end" title="Forward End"
                              alt="Forward End">
                        <area shape="rect" coords="59,172,85,191" href="#humax-bu-rew-first" title="Reverse First"
                              alt="Reverse First">
                        <area shape="rect" coords="33,172,58,191" href="#humax-bu-fwd" title="Forward" alt="Forward">
                        <area shape="rect" coords="4,172,32,191" href="#humax-bu-rev" title="Reverse" alt="Reverse">

                        <area shape="circle" coords="18,207,12" href="#humax-bu-red" title="Red" alt="Red">
                        <area shape="circle" coords="46,207,12" href="#humax-bu-green" title="Green" alt="Green">
                        <area shape="circle" coords="73,207,12" href="#humax-bu-yellow" title="Yellow" alt="Yellow">
                        <area shape="circle" coords="100,207,12" href="#humax-bu-blue" title="Blue" alt="Blue">

                        <area shape="circle" coords="17,237,12" href="#humax-bu-media" title="Media" alt="Media">
                        <area shape="circle" coords="101,237,12" href="#humax-bu-guide" title="Guide" alt="Guide">
                        <area shape="circle" coords="59,269,15" href="#humax-bu-ok" title="Ok" alt="Ok">
                        <area shape="circle" coords="16,302,12" href="#humax-bu-exit" title="Exit" alt="Exit">
                        <area shape="circle" coords="100,302,12" href="#humax-bu-back" title="Back" alt="Back">
                        <area shape="poly" coords="34,239,58,228,83,239,70,252,46,252" href="#humax-bu-up" title="Guide"
                              alt="Up">
                        <area shape="poly" coords="74,256,87,245,96,269,87,293,74,281,77,268" href="#humax-bu-right"
                              title="Guide" alt="Right">
                        <area shape="poly" coords="47,285,34,298,58,308,82,299,70,286" href="#humax-bu-down"
                              title="Guide"
                              alt="Down">
                        <area shape="poly" coords="42,257,29,244,19,268,29,292,42,281" href="#humax-bu-left"
                              title="Guide"
                              alt="Left">

                        <area shape="rect" coords="11,318,38,347" href="#humax-bu-vol-up" title="Volume +"
                              alt="Volume +">
                        <area shape="rect" coords="11,349,38,378" href="#humax-bu-vol-down" title="Volume -"
                              alt="Volume -">
                        <area shape="circle" coords="58,335,12" href="#humax-bu-list" title="List" alt="List">
                        <area shape="circle" coords="58,365,11" href="#humax-bu-info" title="Info" alt="Info">
                        <area shape="rect" coords="79,318,106,347" href="#humax-bu-ch-up" title="Channel +"
                              alt="Channel +">
                        <area shape="rect" coords="77,349,104,378" href="#humax-bu-ch-down" title="Channel -"
                              alt="Channel -">

                        <area shape="rect" coords="10,390,34,411" href="#humax-bu-text" title="Text" alt="Text">
                        <area shape="rect" coords="35,390,57,411" href="#humax-bu-sound-q" title="Sound" alt="Sound">
                        <area shape="rect" coords="58,390,81,411" href="#humax-bu-screen" title="Screen" alt="Screen">
                        <area shape="rect" coords="82,390,105,411" href="#humax-bu-opt" title="Opt" alt="Opt">
                    </map>
                </div>
                <div class="tab-pane" id="gefen-r">
                    <img usemap="#gefen" class="img-rounded" width="120"
                         src="/static/img/rc/gefen/gefen.png"/>
                    <map id="map-gefen" name="gefen">
                        <area shape="rect" coords="15,63,39,76" href="#gefen-bu-1-1" title="1-1" alt="1-1">
                        <area shape="rect" coords="42,63,63,76" href="#gefen-bu-1-2" title="1-2" alt="1-2">
                        <area shape="rect" coords="67,63,89,76" href="#gefen-bu-1-3" title="1-2" alt="1-2">
                        <area shape="rect" coords="92,63,114,76" href="#gefen-bu-1-4" title="1-2" alt="1-2">
                        <area shape="rect" coords="15,78,39,91" href="#gefen-bu-2-1" title="2-1" alt="2-1">
                        <area shape="rect" coords="42,78,63,91" href="#gefen-bu-2-2" title="2-2" alt="2-2">
                        <area shape="rect" coords="67,78,89,91" href="#gefen-bu-2-3" title="2-3" alt="2-3">
                        <area shape="rect" coords="92,78,114,91" href="#gefen-bu-2-4" title="2-4" alt="2-4">
                        <area shape="rect" coords="15,93,39,106" href="#gefen-bu-3-1" title="3-1" alt="3-1">
                        <area shape="rect" coords="42,93,63,106" href="#gefen-bu-3-2" title="3-2" alt="3-2">
                        <area shape="rect" coords="67,93,89,106" href="#gefen-bu-3-3" title="3-3" alt="3-3">
                        <area shape="rect" coords="92,93,114,106" href="#gefen-bu-3-4" title="3-4" alt="3-4">
                        <area shape="rect" coords="15,107,39,120" href="#gefen-bu-4-1" title="4-1" alt="4-1">
                        <area shape="rect" coords="42,107,63,120" href="#gefen-bu-4-2" title="4-2" alt="4-2">
                        <area shape="rect" coords="67,107,89,120" href="#gefen-bu-4-3" title="4-3" alt="4-3">
                        <area shape="rect" coords="92,107,114,120" href="#gefen-bu-4-4" title="4-4" alt="4-4">
                    </map>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
{% end %}

{% block customjs %}
<script>
    $(document).ready(function () {
        // DOM loaded
        var socket = new RemoteControlSocket();
    });
</script>
{% end %}